.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}

.wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #111;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #333;
}
